 @media (max-width: 768px)
{
    #navbar--menu-icon
{
    display: block;
    margin: 16px 19px;
    width: 18px;

}
.navbar--menu
    {   
        position: absolute;
        display: none;
}

#navbar--menu-button:checked ~ .navbar--menu
{
    display: flex;
    flex-direction: column;
    margin-right: 250px;
}

}