@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&family=IBM+Plex+Sans:wght@300;400;500&display=swap');
$font-titles:'IBM Plex Sans', sans-serif;
$font-text: 'IBM Plex Mono', monospace;
$main-color: #0000EC;
$secondary-color: #00F3BB;
$background-color: #FFFFFF;
$text-color: #060A24;
$font-size: 16px;